<%= form_with(model: @aluno, data: { turbo: false } ) do |form| %>

  <%= render 'shared/errors', object: @aluno %>
  <div class="label">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="label">
    <%= form.label :classe %>
    <%= form.text_area :classe %>
  </div>
   <div class="label">
    <%= form.label :rm %>
    <%= form.text_area :rm %>
  </div>
  <div class="button">
    <%= form.submit %>
  </div>
  
<% end %>

<%= link_to 'Back', alunos_path %>
